<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>to do list</title>
</head>
<body>

    <div class="box" id="heading">
        <h1><%= listtitle %></h1>
    </div>

    <div class="box">
        <% for (var i=0; i<newItems.length; i++) { %>

            <div class="item">
                <input type="checkbox" name="" id="">
                <p><%= newItems[i] %></p>

            </div>
        <% } %>

        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="new item" autocomplete="off">
            <button type="submit" name="list" value=<%= listtitle %>>+</button>
        </form>
    </div>


</body>
</html>