/*------------------------selectors-----------------------------*/
h1 {
    color : red;
    font-size: 200px;
}

img:hover {
    background-color: gold;
}

/*-------------------------class---------------------------------*/

.bro{
    background-color: red;
}

.bacon{
    background-color: blue;
}

/*----------------------------id--------------------------------------*/

#header{
    color: aqua;
}